:root {
  --primary: #e34607;
  --lightgray: #ececec;
  --darkgray: #d8d8d8;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.chat-container {
  position: relative;
  max-width: 600px;
  margin: 2rem auto;
  background-color: white;
  border: 1px solid var(--lightgray);
  border-radius: 4px;
  box-shadow: 0 0 6px 4px #00000009;
  padding: 3.5rem 0.2rem;
}
.chat-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--lightgray);
  border-bottom: 1px solid var(--darkgray);
}
.chat-header h3 {
  padding: 1rem;
  margin: 0;
}

.chat-messages {
  height: calc(80vh - 60px);
  overflow-y: scroll;
}

.chat-bubble {
  padding: 0.15rem 1rem;
  width: fit-content;
  max-width: 70%;
  margin: 0.1rem;
  border-radius: 3rem;
}
.chat-bubble.chat-left {
  background-color: var(--primary);
  border-top-left-radius: 0;
  color: white;
}
.chat-bubble.chat-right {
  background-color: var(--lightgray);
  border-bottom-right-radius: 0;
  margin-left: auto;
}

.chat-form {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.chat-form form {
  display: flex;
}

.chat-form input {
  display: flex;
  flex: 1;
  border: 0;
  border-top: 1px solid var(--lightgray);
  border-radius: 0;
  padding: 0.75rem 1.5rem;
  border-bottom: 0;
}
.chat-form button {
  display: flex;
  flex: 1;
  max-width: 100px;
  padding: 0.75rem 1.5rem;
  text-align: center;
  font-size: 1.1rem;
  justify-content: center;
  color: white;
  background-color: var(--primary);
  border: 0;
  border-radius: 0;
}
